<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title><%= setupData.name %> || Ovasyte</title>

    <% if (setupData && setupData.logo == "" || setupData.logo == undefined) { %>
        <link rel="icon" type="image/x-icon" href="assets/img/logig.png" />
    <% } else { %>
        <link rel="icon" type="image/x-icon" href="uploads/<%= setupData.logo %>" />
    <% } %>


    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="assets/light_css/nunito_fonts.css" rel="stylesheet" type="text/css" />
    <link href="assets/light_css/mDatatable.css" rel="stylesheet" type="text/css" />
    <link href="assets/light_css/loader.css" rel="stylesheet" type="text/css" />
    <!-- <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet"> -->
    <link href="assets/light_css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/light_css/plugins.css" rel="stylesheet" type="text/css" />

    <link href="assets/light_css/regular.css" rel="stylesheet">
    <link href="assets/light_css/fontawesome.min.css" rel="stylesheet">
    <link href="assets/light_css/icomoon.min.css" type="text/css" rel="stylesheet">
    <link href="assets/light_css/jquery.steps.css" rel="stylesheet" type="text/css">
    <link href="assets/light_css/switches.css" rel="stylesheet">
    <link href="assets/light_css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="assets/light_css/perfect-scrollbar.css" rel="stylesheet" type="text/css" /> 

    <link href="assets/light_css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/light_css/sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="assets/light_css/snackbar.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/light_css/tooltip.css" rel="stylesheet" type="text/css">
    <link href="assets/light_css/theme-checkbox-radio.css" rel="stylesheet" type="text/css">
    <link href="assets/light_css/daterangepicker.css" rel="stylesheet" type="text/css">


    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <!-- 
    <link href="assets/light_css/apexcharts.css" rel="stylesheet" type="text/css">
    <link href="assets/light_css/dash_1.css" rel="stylesheet" type="text/css" /> 
    <link href="assets/light_css/file-upload-with-preview.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/light_css/quill.snow.css" rel="stylesheet" type="text/css">
    <link href="assets/light_css/fullcalendar.css" rel="stylesheet" type="text/css" />
    <link href="assets/light_css/flatpickr.css" rel="stylesheet" type="text/css">
    <link href="assets/light_css/apps/mailbox.css" rel="stylesheet" type="text/css" />
    <link href="assets/light_css/apps/notes.css" rel="stylesheet" type="text/css" />
    -->
    
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link id="logig_external_stylesheet" href="" rel="stylesheet" type="text/css" />
    <link id="logig_external_stylesheet1" href="" rel="stylesheet" type="text/css" />
    <link id="logig_external_stylesheet2" href="" rel="stylesheet" type="text/css" />
    <link id="logig_external_stylesheet3" href="" rel="stylesheet" type="text/css" />
    <link id="logig_external_stylesheet4" href="" rel="stylesheet" type="text/css" />
    <link id="logig_external_stylesheet5" href="" rel="stylesheet" type="text/css" />
    <link id="logig_external_stylesheet6" href="" rel="stylesheet" type="text/css" />
    <link id="logig_external_stylesheet7" href="" rel="stylesheet" type="text/css" />
    <link id="logig_external_stylesheet8" href="" rel="stylesheet" type="text/css" />
    <link id="logig_external_stylesheet9" href="" rel="stylesheet" type="text/css" />

    <!-- ALL OVASYTE GENERIC COLOR SETTINGS OR COLOR CODES HERE -->
    <% let ovasytePrimaryColor = setupData.primary_color == null ? '#1b55e2' : setupData.primary_color.split("**")[0]; %> 
    <% let ovasytePrimaryColorShade = setupData.primary_color == null ? '#c2d5ff' : setupData.primary_color.split("**")[1]; %>

    <% let ovasyteColorStyles = ``; %> 
    <% ovasyteColorStyles += `.active svg { color: ${ovasytePrimaryColor} !important; }`; %> 
    <% ovasyteColorStyles += `.ovasyte-primary { color: ${ovasytePrimaryColor} !important; }`; %> 
    <% ovasyteColorStyles += `.ovasyte-primary-gradient { color: linear-gradient(-52deg, ${ovasytePrimaryColor}61 0%, ${ovasytePrimaryColor} 100%) !important; }`; %> 

    <% ovasyteColorStyles += `.ovasyte-primary-color-shade { color: ${ovasytePrimaryColor}61 !important; }`; %>
    <% ovasyteColorStyles += `.ovasyte-bg-primary-color-shade { background-color: ${ovasytePrimaryColor}61 !important; }`; %>

    <% ovasyteColorStyles += `.ovasyte-bg-primary { background-color: ${ovasytePrimaryColor} !important; color: #fff !important; }`; %> 
    <% ovasyteColorStyles += `.ovasyte-bg-progress-bar { background-color: ${ovasytePrimaryColor}91 !important; color: #fff !important; }`; %> 
    <% ovasyteColorStyles += `.ovasyte-bg-primary-shade { background-color: ${ovasytePrimaryColor}61 !important; color: #fff !important; }`; %> 
    <% ovasyteColorStyles += `.ovasyte-bg-primary-gradient { background-image: linear-gradient(-52deg, ${ovasytePrimaryColorShade} 0%, ${ovasytePrimaryColor} 100%) !important; color: #fff !important; }`; %> 
    
    <% ovasyteColorStyles += `.ovasyte-bg-primary-opacity { background-color: ${ovasytePrimaryColor}47 !important; }`; %>
    <% ovasyteColorStyles += `.ovasyte-bs-primary { box-shadow: ${ovasytePrimaryColor}61 !important; }`; %>
    <% ovasyteColorStyles += `.ovasyte-primary-border { border: 0.5px solid ${ovasytePrimaryColor} !important; }`; %>

    <% ovasyteColorStyles += `.daterangepicker td.available:hover, .daterangepicker th.available:hover { background-color: ${ovasytePrimaryColor}61 !important; }`; %>
    <% ovasyteColorStyles += `.daterangepicker td.active, .daterangepicker td.active:hover { background-color: ${ovasytePrimaryColor} !important; }`; %>
    <% ovasyteColorStyles += `.daterangepicker .ranges li:hover { background-color: ${ovasytePrimaryColor}61 !important; }`; %>
    <% ovasyteColorStyles += `.daterangepicker .ranges li.active { background-color: ${ovasytePrimaryColor} !important; }`; %>
    <% ovasyteColorStyles += `@media print { .table thead tr, .table thead tr th { background-color: ${ovasytePrimaryColor} !important; color: #fff; } }`; %>
    <% ovasyteColorStyles += `.mailbox-inbox .mail-item div.mail-item-heading:hover { background-color: ${ovasytePrimaryColor}47 !important; border: 1px solid ${ovasytePrimaryColor} !important; }`; %>
    <% ovasyteColorStyles += `div#load_screen { background: ${ovasytePrimaryColor}61 !important; opacity: 1; position: fixed; z-index: 999999; top: 0px; bottom: 0; left: 0; right: 0; width: 100%; }` ; %>
    <% ovasyteColorStyles += `.spinner-grow {color: ${ovasytePrimaryColor} !important;}`; %>

    
    <style type="text/css" id="ovasyte_color_theme_style_tag">
        <%= ovasyteColorStyles %>
    </style>
    <!-- END -->

    <style type="text/css">
        .layout-px-spacing {
            min-height: calc(100vh - 166px)!important;
        }

        .hide {
            display: none;
        }

		.gra-table {
			width: 100%;
			height: auto;
		}

		.gra-table tr th, .gra-table tr td {
			padding: 10px;
		}

		.gra-table tr th, .gra-table tr td, .gra-table thead {
            border: 1px solid #000;
			color: #000;
        }
	</style>

    <style type="text/css" media="print">
        .table thead tr th {
            color: #000;
        }

        .gra-table tr th, .gra-table tr td {
            border: 1px solid #000;
        }

        text.apexcharts-datalabel-value {
            font-size: 12px !important;
            font-weight: 300;
        }

        @media print { 
            .gra-table thead tr, .gra-table thead tr th { 
                background-color: #fff !important; color: #000; 
            }

            .gra-table tr.gra-main-header, .gra-table tr.gra-main-header th {
                background-color: #FCDF32 !important;
            }

            .gra-table tr.gra-tier-header, .gra-table tr.gra-tier-header th {
                background-color: <%= ovasytePrimaryColor %> !important;
            }
        }
    </style>

    <style>

        .custom-file-label {
            height: auto;
            border: 1px solid #bfc9d4;
            border-radius: 6px;
            color: #27293c!important;
            font-size: 15px;
            padding: 6px 18px;
            letter-spacing: 1px;
            background-color: #f1f2f3; 
        }
        .custom-file-label::after {
            height: auto;
            padding: 8px 12px;
            color: #27293c!important; 
        }

        .logig_font1 {
            font-size: 18px;
        }

        .logig_search_input .form-control {
            padding-left: 2.375rem;
        }

        .logig_search_input .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.35rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }
    </style>

    <style>
        div#load_screen .loader {
            display: flex;
            justify-content: center;
            height: 100vh; 
        }

        div#load_screen .loader-content {
            right: 0;
            align-self: center; 
        }

    </style>

    <style>
        #sidebar ul.menu-categories ul.submenu li > [data-active="true"] i {color: <%= ovasytePrimaryColor %>; }
        
        #sidebar ul.menu-categories ul.submenu li > [data-active="true"]:before {background-color: <%= ovasytePrimaryColor %> !important; }
            
        #sidebar ul.menu-categories ul.submenu li > a[data-active="true"] {color: <%= ovasytePrimaryColor %>; }
        
        #sidebar ul.menu-categories li.menu ul.submenu > li.active a:before {background-color: <%= ovasytePrimaryColor %>; }

        #sidebar ul.menu-categories ul.submenu > li ul.sub-submenu > li.active a:before {background-color: <%= ovasytePrimaryColor %>; }

        #sidebar ul.menu-categories ul.submenu > li ul.sub-submenu > li a:hover {color: <%= ovasytePrimaryColor %>; }
    </style>

    <style>
        .ghatofCard {
            background-color: #fff;
            border-radius: 10px;
            border: none;
            position: relative;
            margin-bottom: 20px;
            box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
                0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
                0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
                0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
        }
        .l-bg-cherry {
            background: linear-gradient(to right, #493240, #f09) !important;
            color: #fff;
        }
        
        .l-bg-pink {
            background: linear-gradient(to right, #493240, #c51790) !important;
            color: #fff;
        }

        .l-bg-red {
            background: linear-gradient(to right, #644a4d, #dc3545) !important;
            color: #fff;
        }

        .l-bg-blue-dark {
            background: linear-gradient(to right, #373b44, #4286f4) !important;
            color: #fff;
        }

        .l-bg-green-dark {
            background: linear-gradient(to right, #0a504a, #38ef7d) !important;
            color: #fff;
        }

        .l-bg-orange-dark {
            background: linear-gradient(to right, #a86008, #ffba56) !important;
            color: #fff;
        }

        .l-bg-purple-dark {
            background: linear-gradient(to right, #9507b1, #44115e) !important;
            color: #fff;
        }

        .l-bg-dark-grey {
            background: linear-gradient(to right, #645e55, #59555e) !important;
            color: #fff;
        }

        .ghatofCard  .card-statistic-3 .card-icon i {
            font-size: 110px;
        }

        .ghatofCard  .card-statistic-3 .card-icon {
            text-align: center;
            line-height: 50px;
            margin-left: 13px;
            color: #000;
            position: absolute;
            right: -1px;
            top: 20px;
            opacity: 0.1;
        }

        .l-bg-cyan {
            background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
            color: #fff;
        }

        .l-bg-green {
            background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
            color: #fff;
        }

        .l-bg-orange {
            background: linear-gradient(to right, #f9900e, #ffba56) !important;
            color: #fff;
        }

        .l-bg-cyan {
            background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
            color: #fff;
        }
    </style>


    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="assets/js/loader.js"></script>
    <script src="assets/js/promise-polyfill.js"></script>
    <script src="assets/thirdparty/jquery.3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.steps.min.js"></script>
    <script src="assets/js/perfect-scrollbar.min.js"></script>
</head>
<body id="logig_main_body"></body>